#root{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.app{
display: flex;

}


.sidebar {
background-color: blueviolet;
width: 300px;
margin: 0px;
}

.sidebar form > * {
display: block;
text-align: center;
margin: 15px;
}

.books{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.book{
  box-sizing: border-box;
  width: 150px;
  height: 230px;
  text-align: center;
  font-size: 35px;
  padding-top: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: -1px -1px 3px inset black,2px 2px 5px inset white;
  background-color: rgb(189, 216, 244);
}
